.idea/gpt.iml
data/structure/combination.json
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/task.cpython-39.pyc
.idea/misc.xml
__pycache__/task.cpython-39.pyc
